
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    {% extends "accounts/base.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    {% block content %}
    
    <main role="main" class="container">
        <div>
            <!--テンプレートシステムは、変数の属性にアクセスするためにドット検索の構文を使用-->
            <h1 class="mt-5">{{ question.question_text }}</h1>
        </div>
        {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
    </main>
    <!--ブロック分け-->
    <div class="container" >
        <!--pollsプロジェクトのvote関数に"POST"通信行う-->
        <!--サーバ側のデータの更新を行う際はPOST通信--> 
        <!--actionでどのプロジェクトのどの関数と何をやり取りするか-->
        <!--polls:voteでurls.pyで指定したvoteの名前使用-->
        <form action="{%url 'polls:vote' question.id %}" method ="POST">
            <!--XSS対策(テンプレートタグ)-->
            {% csrf_token %}
            <div class="row mb-3"><!--bootstrap-->
                {% for choice in question.choice_set.all %}
                <!--radioボタンとその中身-->
                <div class="form-check container themed-container">
                    <!--radioボタン-->
                    <div class="row mb-3">
                        <div class = "col-2 themed-grid-col">
                            <div class="row">
                                <div class="col-md-6 themed-grid-col"></div>
                                <div class="col-md-6 themed-grid-col">
                                    <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter}}" value ="{{choice.id}}" checked>
                                </div>
                            </div>
                        </div>
                        <div class = "col-4 themed-grid-col">
                            <div class="row">
                                <div class="col-md-6 themed-grid-col">
                                    <label class="form-check-label" for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Vote">
        </form>
        <a class="btn btn-primary" href="{% url 'polls:index' %}">目次に戻る??</a>
    </div>
    <!--
    <li><a class="btn btn-primary" href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    -->
    </div> 
    <div>
        <img src="../../static/polls/images/days_res.png" class="rounded float-left">
    </div> 
    
    {% endblock %}
</body>