<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
   
</head>
<body>
    {% extends "accounts/base.html" %}
    {% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <p>オセロゲーム</p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
        <div class="col-md-2 col-md-offset-1"></div>
        {% for col in field%}
                <div class="col-md-1">
                    {%if col.state == 1%}
                        <p> ○ </p>
                    {%elif col.state == 2%}
                        <p> × </p>
                    {%else%}
                        <p>{{ col.state }}</p>
                    {%endif%}
                </div>    
        {% endfor %}  
    </div> 
    </div>

    <div class="container" >
        
        <div class="col mb-3">
            {% for field_1 in field_list %}
            <div class="row mb-3">
                {% for field in field_1 %}
                <div class="col mb-3">
                    <li><a class="btn btn-primary" href="{% url 'ocero:index'%}">{{ field }}</a></li>
                </div> 
                {% endfor %}
            </div>  
            {% endfor %}
            
        </div>  
    </div>
    
    <form action="{%url 'ocero:change'%}" method ="POST">
        {% csrf_token %}
        {% for col in field %}
        <input type="submit" class="btn btn-primary" name="{{col.x}} {{col.y}}" value="{{col.x}} {{col.y}}">
        {% endfor %}
    </form>
    
    <a class="btn btn-primary" href="{% url 'accounts:index' %}">メニュー??</a>
    {% endblock %}   
</body>