<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
   
</head>
<body>
    {% extends "accounts/base.html" %}
    {% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <p>オセロゲーム</p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <form action="{%url 'ocero:change'%}" method ="POST">
        {% csrf_token %}
    <div class="container" >
        <div class="row">
            {% for fild in field %}
            <div class="col-md-2 col-md-offset-1"></div>
            {% for fd in fild %}
                <div class="col-md-1">
                    
                    {%if fd.state == 1%}
                        <input type="submit" class="btn btn-primary" name="{{fd.x}} {{fd.y}}" value="●">
                    {%elif fd.state == -1%}
                        <input type="submit" class="btn btn-primary" name="{{fd.x}} {{fd.y}}" value="〇">
                    {%elif fd.state == 2%}
                        <input type="submit" class="btn btn-primary text-success" name="{{fd.x}} {{fd.y}}" value="★">
                    {%else%}
                        <input type="submit" class="btn text-danger" name="{{fd.x}} {{fd.y}}" value="×">
                    {%endif%}
                </div>    
            {% endfor %}  
            <div class="col-md-2 col-md-offset-1"></div>
            {% endfor %} 
        </div> 
    </div>
    </form>

    <div class="container" >
        <div class="row">
            <p>Black : {{black}} , White : {{white}}</p>
        </div>
        <div class="row">
            {%if judge >= 2%}
                {% if black > white %}
                <p>Black の勝ち</p>
                {% elif black == white %}
                <p>引き分け</p>
                {% else %}
                <p>White の勝ち</p>
                {% endif %}
            {%else%}
                {% if putbool %}
                    <form action="{%url 'ocero:onceindex'%}" method ="POST">
                        {% csrf_token %}
                        <div class="container" >
                            <input type="submit" class="btn btn-primary" name="1" value="●">
                        </div>
                    </form>
                {%endif%}
            {% endif %}
        </div>
    </div>

    
    <a class="btn btn-primary" href="{% url 'accounts:index' %}">メニュー??</a>
    {% endblock %}   
</body>